html {
    height: 100%;
}

body {
    height: 100%;
    
    
}
a {
    color:#450000;
    text-decoration: none;
    font-size:26px;
}
.header {
    text-align:center;
    font-size:50px;
    color:	#720000;
    font-weight:600;
    
    
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}

.navbar {
    display:flex;
    justify-content:space-around;
    background-color:#ef4362;
    margin-bottom: 30px;
   
}
.footer {
    display:flex;
    justify-content:space-around;
    font-size:20px;
    background-color:#ef4362;
    color:#450000;
    margin-top :30px;
    width:100%;
}
.aboutMain  {
    display:flex;
    justify-content:space-around;
}
.rightPane {
    width:480px;
    height:590px;
    
}
.leftPane{
    width:400px;
    font-size:20px;
    color:	#720000;
}
img {
    width:330px;
}